/* Write your CSS here */
.portfolio-card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
}

.body-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  .portfolio-card-container {
    flex-direction: row;
    width: 800px;
    height: 80vh;
  }
}
